In [645]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [646]:
participant_status = pd.read_csv("NecessaryCSVFiles/Participant_Status_03Apr2024.csv")

## CONCOHORT codes and their definitons
0 = "non-PD, non-Prodromal, non-HC (participants to be excluded)",
1 = Parkinson's Disease,
2 = Healthy Control,
3 = SWEDD,
4 = Prodromal

In [647]:
# participant_status

In [648]:
# mds_updrs_part_one

In [649]:
# mds_updrs_part_one_patient_ques

In [650]:
# mds_updrs_part_two_patient_ques

In [651]:
# mds_updrs_part_three

In [652]:
# mds_updrs_part_four

In [653]:
participant_status = participant_status.dropna(subset='CONCOHORT_DEFINITION', how='any')
participant_status_patno_concohort = participant_status[['PATNO', 'CONCOHORT']].copy()

participant_status_patno_concohort["CONCOHORT"].value_counts()

CONCOHORT
4.0    1233
1.0    1227
2.0     249
0.0      10
3.0       3
Name: count, dtype: int64

### MDS-UPDRS_Part_I_04Apr2024

In [654]:
mds_updrs_part_one = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_I_04Apr2024.csv")

In [655]:
# Drop the following columns
mds_updrs_part_one = mds_updrs_part_one.drop(['REC_ID', 'PAG_NAME', 'NUPSOURC', 'NP1RTOT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

# mds_updrs_part_one = mds_updrs_part_one.dropna()

In [656]:
mds_updrs_part_one

,PATNO,EVENT_ID,INFODT,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS
0,3000,BL,02/2011,1,0,1,1.0,0.0,0.0
1,3000,V04,03/2012,0,0,1,0.0,0.0,0.0
2,3000,V06,02/2013,1,0,1,1.0,0.0,0.0
3,3000,V08,03/2014,1,0,0,2.0,0.0,0.0
4,3000,V10,03/2015,0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
22668,315426,BL,04/2024,2,0,1,2.0,0.0,0.0
22669,315720,BL,04/2024,0,0,0,0.0,0.0,0.0
22670,315971,BL,03/2024,2,0,0,1.0,0.0,0.0
22671,318884,BL,03/2024,0,0,0,0.0,0.0,0.0
22672,320596,BL,03/2024,0,0,0,1.0,0.0,0.0

In [657]:
# Convert 'INFODT' to datetime format
mds_updrs_part_one['INFODT'] = pd.to_datetime(mds_updrs_part_one['INFODT'], format='%m/%Y')

# Group by 'PATNO' and sort by 'INFODT' within each group in ascending order
mds_updrs_part_one = mds_updrs_part_one.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

# Convert 'INFODT' back to 'MM/YYYY' format
mds_updrs_part_one['INFODT'] = mds_updrs_part_one['INFODT'].dt.strftime('%m/%Y')

# Optionally reset the index if needed
mds_updrs_part_one = mds_updrs_part_one.reset_index(drop=True)

C:\Users\subhe\AppData\Local\Temp\ipykernel_14988\1394592640.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  mds_updrs_part_one = mds_updrs_part_one.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

In [658]:
mds_updrs_part_one

,PATNO,EVENT_ID,INFODT,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS
0,3000,BL,02/2011,1,0,1,1.0,0.0,0.0
1,3000,V04,03/2012,0,0,1,0.0,0.0,0.0
2,3000,V06,02/2013,1,0,1,1.0,0.0,0.0
3,3000,V08,03/2014,1,0,0,2.0,0.0,0.0
4,3000,V10,03/2015,0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
22668,315426,BL,04/2024,2,0,1,2.0,0.0,0.0
22669,315720,BL,04/2024,0,0,0,0.0,0.0,0.0
22670,315971,BL,03/2024,2,0,0,1.0,0.0,0.0
22671,318884,BL,03/2024,0,0,0,0.0,0.0,0.0
22672,320596,BL,03/2024,0,0,0,1.0,0.0,0.0

In [659]:
mds_updrs_part_one_copy = mds_updrs_part_one.copy()

# mds_updrs_part_one_copy

In [660]:
# # Create a boolean mask for duplicates
# duplicates_mask = mds_updrs_part_one.duplicated()
# 
# # Print the duplicate rows
# print(mds_updrs_part_one[duplicates_mask])

In [661]:
mds_updrs_part_one = pd.merge(mds_updrs_part_one, participant_status_patno_concohort, on='PATNO', how='inner')

In [662]:
mds_updrs_part_one

,PATNO,EVENT_ID,INFODT,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3000,BL,02/2011,1,0,1,1.0,0.0,0.0,2.0
1,3000,V04,03/2012,0,0,1,0.0,0.0,0.0,2.0
2,3000,V06,02/2013,1,0,1,1.0,0.0,0.0,2.0
3,3000,V08,03/2014,1,0,0,2.0,0.0,0.0,2.0
4,3000,V10,03/2015,0,0,0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...
21194,253387,BL,10/2023,1,0,0,0.0,0.0,0.0,4.0
21195,253387,R01,03/2024,0,0,0,0.0,0.0,0.0,4.0
21196,292774,BL,09/2023,0,0,0,0.0,0.0,0.0,4.0
21197,292880,BL,10/2023,0,0,1,0.0,0.0,0.0,1.0
21198,293032,BL,09/2023,0,0,1,0.0,1.0,0.0,4.0

In [663]:
# print(f"Found {mds_updrs_part_one['CONCOHORT'].nunique()} unique concohort values")
# print(f"Found {mds_updrs_part_one['EVENT_ID'].nunique()} unique event_id values")
# print(f"Found {mds_updrs_part_one['PATNO'].nunique()} unique patient values")

In [664]:
mds_updrs_part_one = mds_updrs_part_one[mds_updrs_part_one['CONCOHORT'] == 1].copy()

for feature in mds_updrs_part_one.columns:
    print("Feature:", feature)
    print(mds_updrs_part_one[feature].value_counts())
    print("\n")

Feature: PATNO
PATNO
3422      25
3423      25
3434      25
3407      25
4057      24
          ..
219756     1
221809     1
140581     1
226669     1
292880     1
Name: count, Length: 1227, dtype: int64


Feature: EVENT_ID
EVENT_ID
BL     1222
V02     991
V04     937
V05     806
V06     692
SC      632
V08     560
V07     526
V10     523
V12     478
V09     466
V01     393
V11     392
V13     370
V03     335
V14     323
V15     218
ST      195
V17     184
V16     184
R17     162
V18     155
R16     155
R18     109
R15     107
R12      92
R13      84
R06      78
R10      72
V19      69
R14      67
R08      43
R19      35
V20      10
R01       8
PW        7
U01       3
R04       3
Name: count, dtype: int64


Feature: INFODT
INFODT
11/2023    137
03/2023    133
06/2023    132
10/2023    131
02/2024    126
          ...
07/2020      6
07/2010      5
08/2020      5
08/2010      2
09/2010      2
Name: count, Length: 163, dtype: int64


Feature: NP1COG
NP1COG
0      7324
1      3296
2       760
3       254
4        47
101       5
Name: count, dtype: int64


Feature: NP1HALL
NP1HALL
0      10457
1        947
2        211
3         53
4         14
101        4
Name: count, dtype: int64


Feature: NP1DPRS
NP1DPRS
0      7948
1      2594
2       803
3       292
4        42
101       7
Name: count, dtype: int64


Feature: NP1ANXS
NP1ANXS
0.0      7127
1.0      3279
2.0       877
3.0       350
4.0        46
101.0       6
Name: count, dtype: int64


Feature: NP1APAT
NP1APAT
0.0      8756
1.0      1847
2.0       809
3.0       225
4.0        41
101.0       7
Name: count, dtype: int64


Feature: NP1DDS
NP1DDS
0.0      10955
1.0        505
2.0        167
3.0         34
101.0       20
4.0          4
Name: count, dtype: int64


Feature: CONCOHORT
CONCOHORT
1.0    11686
Name: count, dtype: int64

In [665]:
mds_updrs_part_one

,PATNO,EVENT_ID,INFODT,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
9,3001,SC,02/2011,0,0,0,1.0,0.0,0.0,1.0
10,3001,BL,03/2011,0,0,0,0.0,0.0,0.0,1.0
11,3001,V01,05/2011,0,0,0,0.0,0.0,0.0,1.0
12,3001,V02,08/2011,0,0,0,0.0,0.0,0.0,1.0
13,3001,V03,11/2011,0,0,1,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
21185,252147,BL,08/2023,0,0,1,1.0,1.0,0.0,1.0
21190,253175,BL,09/2023,0,0,0,0.0,0.0,0.0,1.0
21191,253175,V02,02/2024,0,0,0,0.0,0.0,0.0,1.0
21193,253290,BL,10/2023,1,0,0,0.0,0.0,0.0,1.0
21197,292880,BL,10/2023,0,0,1,0.0,0.0,0.0,1.0

In [666]:
mds_updrs_part_one.to_csv('CreatingDataset/FourVisits/mds_updrs_part_one.csv', index=False)

### MDS-UPDRS_Part_I_Patient_Questionnaire_04Apr2024

In [667]:
mds_updrs_part_one_patient_ques = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_I_Patient_Questionnaire_04Apr2024.csv")

In [668]:
mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.drop(['REC_ID', 'EVENT_ID', 'PAG_NAME', 'NUPSOURC', 'NP1PTOT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

In [669]:
# # Define the columns for which fill will be mode
# columns_to_fill = ['NP1SLPN', 'NP1SLPD', 'NP1PAIN', 'NP1URIN', 'NP1CNST', 'NP1LTHD', 'NP1FATG']
# 
# # Fill missing values with mode for specified columns
# for col in columns_to_fill:
#     mode_value = mds_updrs_part_one_patient_ques[col].mode()[0]
#     mds_updrs_part_one_patient_ques[col] = mds_updrs_part_one_patient_ques[col].fillna(mode_value)

In [670]:
mds_updrs_part_one_patient_ques

,PATNO,INFODT,NP1SLPN,NP1SLPD,NP1PAIN,NP1URIN,NP1CNST,NP1LTHD,NP1FATG
0,3000,02/2011,1.0,2.0,0.0,0.0,0.0,0.0,0.0
1,3000,03/2012,0.0,2.0,0.0,1.0,0.0,0.0,1.0
2,3000,02/2013,2.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3000,03/2014,3.0,2.0,0.0,1.0,0.0,0.0,0.0
4,3000,03/2015,1.0,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
22678,315970,03/2024,3.0,2.0,1.0,1.0,1.0,0.0,1.0
22679,315971,03/2024,3.0,1.0,1.0,1.0,2.0,1.0,2.0
22680,318884,03/2024,1.0,1.0,1.0,0.0,1.0,0.0,2.0
22681,319738,03/2024,2.0,1.0,1.0,0.0,0.0,0.0,1.0
22682,320596,03/2024,1.0,0.0,3.0,1.0,1.0,0.0,0.0

In [671]:
# # Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
# mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.loc[mds_updrs_part_one_patient_ques['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]
# 
# mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [672]:
# Convert 'INFODT' to datetime format
mds_updrs_part_one_patient_ques['INFODT'] = pd.to_datetime(mds_updrs_part_one_patient_ques['INFODT'], format='%m/%Y')

# Group by 'PATNO' and sort by 'INFODT' within each group in ascending order
mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

# Convert 'INFODT' back to 'MM/YYYY' format
mds_updrs_part_one_patient_ques['INFODT'] = mds_updrs_part_one_patient_ques['INFODT'].dt.strftime('%m/%Y')

# Optionally reset the index if needed
mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.reset_index(drop=True)

C:\Users\subhe\AppData\Local\Temp\ipykernel_14988\516091089.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

In [673]:
mds_updrs_part_one_patient_ques.to_csv('CreatingDataset/FourVisits/mds_updrs_part_one_patient_ques.csv', index=False)

In [674]:
mds_updrs_part_one_patient_ques_copy = mds_updrs_part_one_patient_ques.copy()

mds_updrs_part_one_patient_ques_copy

,PATNO,INFODT,NP1SLPN,NP1SLPD,NP1PAIN,NP1URIN,NP1CNST,NP1LTHD,NP1FATG
0,3000,02/2011,1.0,2.0,0.0,0.0,0.0,0.0,0.0
1,3000,03/2012,0.0,2.0,0.0,1.0,0.0,0.0,1.0
2,3000,02/2013,2.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3000,03/2014,3.0,2.0,0.0,1.0,0.0,0.0,0.0
4,3000,03/2015,1.0,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
22678,315970,03/2024,3.0,2.0,1.0,1.0,1.0,0.0,1.0
22679,315971,03/2024,3.0,1.0,1.0,1.0,2.0,1.0,2.0
22680,318884,03/2024,1.0,1.0,1.0,0.0,1.0,0.0,2.0
22681,319738,03/2024,2.0,1.0,1.0,0.0,0.0,0.0,1.0
22682,320596,03/2024,1.0,0.0,3.0,1.0,1.0,0.0,0.0

In [675]:
# mds_updrs_part_one_updated = pd.read_csv('CreatingDataset/FourVisits/mds_updrs_part_one.csv')

In [676]:
mds_updrs_merged_p1_p1p = pd.merge(mds_updrs_part_one_patient_ques, mds_updrs_part_one, on=['PATNO', 'INFODT'], how='inner')

mds_updrs_merged_p1_p1p.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p.csv', index=False)

In [677]:
mds_updrs_merged_p1_p1p

,PATNO,INFODT,NP1SLPN,NP1SLPD,NP1PAIN,NP1URIN,NP1CNST,NP1LTHD,NP1FATG,EVENT_ID,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3001,02/2011,0.0,1.0,0.0,4.0,0.0,0.0,1.0,SC,0,0,0,1.0,0.0,0.0,1.0
1,3001,03/2011,1.0,2.0,0.0,4.0,0.0,0.0,1.0,BL,0,0,0,0.0,0.0,0.0,1.0
2,3001,05/2011,1.0,2.0,0.0,3.0,0.0,0.0,1.0,V01,0,0,0,0.0,0.0,0.0,1.0
3,3001,08/2011,0.0,2.0,0.0,4.0,0.0,0.0,1.0,V02,0,0,0,0.0,0.0,0.0,1.0
4,3001,11/2011,0.0,2.0,0.0,4.0,0.0,0.0,1.0,V03,0,0,1,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11900,252147,08/2023,3.0,1.0,1.0,1.0,1.0,2.0,1.0,BL,0,0,1,1.0,1.0,0.0,1.0
11901,253175,09/2023,0.0,1.0,0.0,0.0,0.0,0.0,0.0,BL,0,0,0,0.0,0.0,0.0,1.0
11902,253175,02/2024,1.0,2.0,0.0,0.0,0.0,0.0,1.0,V02,0,0,0,0.0,0.0,0.0,1.0
11903,253290,10/2023,1.0,1.0,1.0,0.0,0.0,0.0,0.0,BL,1,0,0,0.0,0.0,0.0,1.0
11904,292880,10/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BL,0,0,1,0.0,0.0,0.0,1.0

### MDS_UPDRS_Part_II__Patient_Questionnaire_04Apr2024

In [678]:
mds_updrs_part_two_patient_ques = pd.read_csv("NecessaryCSVFiles/MDS_UPDRS_Part_II__Patient_Questionnaire_04Apr2024.csv")

mds_updrs_part_two_patient_ques

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,NUPSOURC,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,...,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ,NP2PTOT,ORIG_ENTRY,LAST_UPDATE
0,272451701,3000,BL,NUPDRS2P,02/2011,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02/2011,2020-06-25 16:02:19.0
1,338702901,3000,V04,NUPDRS2P,03/2012,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03/2012,2020-06-25 16:02:22.0
2,385009601,3000,V06,NUPDRS2P,02/2013,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02/2013,2020-06-25 16:02:22.0
3,437131001,3000,V08,NUPDRS2P,03/2014,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,05/2014,2020-06-25 16:02:22.0
4,512467901,3000,V10,NUPDRS2P,03/2015,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03/2015,2020-06-25 16:02:23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22679,IA446548,315970,BL,NUPDRS1P2P,03/2024,1,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,4.0,03/2024,2024-03-18 00:00:00.0
22680,IA450007,315971,BL,NUPDRS1P2P,03/2024,1,1.0,0.0,0.0,0.0,...,2.0,1.0,0.0,1.0,1.0,1.0,0.0,8.0,03/2024,2024-03-21 00:00:00.0
22681,IA448193,318884,BL,NUPDRS1P2P,03/2024,1,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,03/2024,2024-03-20 00:00:00.0
22682,IA455528,319738,BL,NUPDRS1P2P,03/2024,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,03/2024,2024-03-28 00:00:00.0
22683,IA446428,320596,BL,NUPDRS1P2P,03/2024,1,0.0,2.0,0.0,0.0,...,0.0,2.0,0.0,1.0,1.0,1.0,0.0,7.0,03/2024,2024-03-18 00:00:00.0

In [679]:
mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.drop(['REC_ID', 'EVENT_ID', 'PAG_NAME', 'NUPSOURC', 'NP2PTOT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

In [680]:
# # Define the columns for which fill will be mode
# columns_to_fill = ['NP2SPCH', 'NP2SALV', 'NP2SWAL', 'NP2EAT', 'NP2DRES', 'NP2HYGN', 'NP2HWRT', 'NP2HOBB', 'NP2TURN', 'NP2TRMR', 'NP2RISE', 'NP2WALK', 'NP2FREZ']
# 
# # Fill missing values with mode for specified columns
# for col in columns_to_fill:
#     mode_value = mds_updrs_part_two_patient_ques[col].mode()[0]
#     mds_updrs_part_two_patient_ques[col] = mds_updrs_part_two_patient_ques[col].fillna(mode_value)

In [681]:
mds_updrs_part_two_patient_ques

,PATNO,INFODT,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ
0,3000,02/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,03/2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,02/2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,03/2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,03/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22679,315970,03/2024,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
22680,315971,03/2024,1.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,0.0
22681,318884,03/2024,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
22682,319738,03/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
22683,320596,03/2024,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0

In [682]:
# # Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
# mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.loc[mds_updrs_part_two_patient_ques['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]
# 
# mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [683]:
# Convert 'INFODT' to datetime format
mds_updrs_part_two_patient_ques['INFODT'] = pd.to_datetime(mds_updrs_part_two_patient_ques['INFODT'], format='%m/%Y')

# Group by 'PATNO' and sort by 'INFODT' within each group in ascending order
mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

# Convert 'INFODT' back to 'MM/YYYY' format
mds_updrs_part_two_patient_ques['INFODT'] = mds_updrs_part_two_patient_ques['INFODT'].dt.strftime('%m/%Y')

# Optionally reset the index if needed
mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.reset_index(drop=True)

C:\Users\subhe\AppData\Local\Temp\ipykernel_14988\1356974055.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

In [684]:
mds_updrs_part_two_patient_ques_copy = mds_updrs_part_two_patient_ques.copy()

mds_updrs_part_two_patient_ques_copy

,PATNO,INFODT,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ
0,3000,02/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,03/2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,02/2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,03/2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,03/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22679,315970,03/2024,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
22680,315971,03/2024,1.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,0.0
22681,318884,03/2024,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
22682,319738,03/2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
22683,320596,03/2024,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0

In [685]:
mds_updrs_part_two_patient_ques.to_csv('CreatingDataset/FourVisits/mds_updrs_part_two_patient_ques.csv', index=False)

In [686]:
mds_updrs_merged_p1_p1p_p2p = pd.merge(mds_updrs_part_two_patient_ques, mds_updrs_merged_p1_p1p, on=['PATNO', 'INFODT'], how='inner')

mds_updrs_merged_p1_p1p_p2p.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p.csv', index=False)

In [687]:
mds_updrs_merged_p1_p1p_p2p

,PATNO,INFODT,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,...,NP1LTHD,NP1FATG,EVENT_ID,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3001,02/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,SC,0,0,0,1.0,0.0,0.0,1.0
1,3001,03/2011,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,BL,0,0,0,0.0,0.0,0.0,1.0
2,3001,05/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,V01,0,0,0,0.0,0.0,0.0,1.0
3,3001,08/2011,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,V02,0,0,0,0.0,0.0,0.0,1.0
4,3001,11/2011,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,V03,0,0,1,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12552,252147,08/2023,2.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,...,2.0,1.0,BL,0,0,1,1.0,1.0,0.0,1.0
12553,253175,09/2023,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,BL,0,0,0,0.0,0.0,0.0,1.0
12554,253175,02/2024,2.0,1.0,1.0,0.0,1.0,0.0,2.0,1.0,...,0.0,1.0,V02,0,0,0,0.0,0.0,0.0,1.0
12555,253290,10/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,BL,1,0,0,0.0,0.0,0.0,1.0
12556,292880,10/2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,BL,0,0,1,0.0,0.0,0.0,1.0

### MDS-UPDRS_Part_III_04Apr2024

In [688]:
mds_updrs_part_three = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_III_04Apr2024.csv")

mds_updrs_part_three

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,PDTRTMNT,PDSTATE,HRPOSTMED,HRDBSON,HRDBSOFF,...,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,NP3TOT,DYSKPRES,DYSKIRAT,NHY,ORIG_ENTRY,LAST_UPDATE
0,272451901,3000,BL,NUPDRS3,02/2011,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,4.0,0.0,NaN,0.0,02/2011,2020-06-25 16:02:19.0
1,338703101,3000,V04,NUPDRS3,03/2012,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,03/2012,2020-06-25 16:02:22.0
2,385009801,3000,V06,NUPDRS3,02/2013,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,4.0,0.0,NaN,0.0,02/2013,2020-06-25 16:02:22.0
3,437131401,3000,V08,NUPDRS3,03/2014,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,2.0,0.0,NaN,0.0,05/2014,2020-06-25 16:02:22.0
4,512469901,3000,V10,NUPDRS3,03/2015,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,19.0,0.0,NaN,0.0,03/2015,2020-06-25 16:02:23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26416,IANT457778,315720,BL,NUPDRDOSE3,04/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,8.0,0.0,NaN,0.0,04/2024,2024-04-01 00:00:00.0
26417,IANT449915,315971,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,17.0,0.0,NaN,1.0,03/2024,2024-03-24 00:00:00.0
26418,IANT448235,318884,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,9.0,0.0,NaN,1.0,03/2024,2024-03-20 00:00:00.0
26419,IANT455515,319738,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,6.0,0.0,NaN,1.0,03/2024,2024-03-28 00:00:00.0
26420,IANT446375,320596,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2.0,18.0,0.0,NaN,2.0,03/2024,2024-03-18 00:00:00.0

In [689]:
# # Calculate the percentage of missing data in each column
# missing_data_percent = mds_updrs_part_three.isnull().mean() * 100
# 
# missing_data_percent

In [690]:
# # Calculate the percentage of missing data in each column
# missing_data_percent = mds_updrs_part_three.isnull().mean() * 100
# 
# # Create a mask for columns that have more than 10% missing data
# mask = missing_data_percent > 10
# 
# # Drop these columns from the DataFrame
# mds_updrs_part_three = mds_updrs_part_three.loc[:, ~mask]
# 
# mds_updrs_part_three

In [691]:
mds_updrs_part_three = mds_updrs_part_three.drop(['REC_ID', 'PAG_NAME', 'EVENT_ID', 'PDTRTMNT', 'PDSTATE', 'HRPOSTMED', 'HRDBSON', 'HRDBSOFF', 'PDMEDYN', 'ONOFFORDER', 'OFFEXAM', 'OFFNORSN', 'DBSOFFTM', 'ONEXAM', 'ONNORSN', 'DBSONTM', 'PDMEDDT', 'PDMEDTM', 'EXAMTM', 'DBSYN', 'NP3TOT', 'DYSKIRAT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

In [692]:
mds_updrs_part_three

,PATNO,INFODT,EXAMDT,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,NP3RIGLL,...,NP3KTRMR,NP3KTRML,NP3RTARU,NP3RTALU,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,DYSKPRES,NHY
0,3000,02/2011,02/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,03/2012,03/2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,02/2013,02/2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,03/2014,03/2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,03/2015,03/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26416,315720,04/2024,04/2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26417,315971,03/2024,03/2024,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
26418,318884,03/2024,03/2024,1.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26419,319738,03/2024,03/2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
26420,320596,03/2024,03/2024,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

In [693]:
# # Define the columns for which fill will be mode
# columns_to_fill = ['NP3SPCH', 'NP3FACXP', 'NP3RIGN', 'NP3RIGRU', 'NP3RIGLU', 'NP3RIGRL', 'NP3RIGLL', 'NP3FTAPR', 'NP3FTAPL', 'NP3HMOVR', 'NP3HMOVL', 'NP3PRSPR', 'NP3PRSPL', 'NP3TTAPR', 'NP3TTAPL', 'NP3LGAGR', 'NP3LGAGL', 'NP3RISNG', 'NP3GAIT', 'NP3FRZGT', 'NP3PSTBL', 'NP3POSTR', 'NP3BRADY', 'NP3PTRMR', 'NP3PTRML', 'NP3KTRMR', 'NP3KTRML', 'NP3RTARU', 'NP3RTALU', 'NP3RTARL', 'NP3RTALL', 'NP3RTALJ', 'NP3RTCON', 'DYSKPRES', 'NHY']
# 
# # Fill missing values and values equal to 101 with mode for specified columns
# for col in columns_to_fill:
#     mode_value = mds_updrs_part_three[col].mode()[0]
#     mds_updrs_part_three[col] = mds_updrs_part_three[col].replace(101, np.nan)  # Replace 101 with NaN
#     mds_updrs_part_three[col] = mds_updrs_part_three[col].fillna(mode_value)  # Fill NaN with mode

In [694]:
mds_updrs_part_three

,PATNO,INFODT,EXAMDT,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,NP3RIGLL,...,NP3KTRMR,NP3KTRML,NP3RTARU,NP3RTALU,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,DYSKPRES,NHY
0,3000,02/2011,02/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,03/2012,03/2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,02/2013,02/2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,03/2014,03/2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,03/2015,03/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26416,315720,04/2024,04/2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26417,315971,03/2024,03/2024,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
26418,318884,03/2024,03/2024,1.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26419,319738,03/2024,03/2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
26420,320596,03/2024,03/2024,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

In [695]:
# # Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
# mds_updrs_part_three = mds_updrs_part_three.loc[mds_updrs_part_three['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]
# 
# mds_updrs_part_three = mds_updrs_part_three.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [696]:
# Convert 'INFODT' to datetime format
mds_updrs_part_three['INFODT'] = pd.to_datetime(mds_updrs_part_three['INFODT'], format='%m/%Y')

# Group by 'PATNO' and sort by 'INFODT' within each group in ascending order
mds_updrs_part_three = mds_updrs_part_three.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

# Convert 'INFODT' back to 'MM/YYYY' format
mds_updrs_part_three['INFODT'] = mds_updrs_part_three['INFODT'].dt.strftime('%m/%Y')

# Optionally reset the index if needed
mds_updrs_part_three = mds_updrs_part_three.reset_index(drop=True)

C:\Users\subhe\AppData\Local\Temp\ipykernel_14988\3678521837.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  mds_updrs_part_three = mds_updrs_part_three.groupby('PATNO', group_keys=False).apply(lambda x: x.sort_values('INFODT'))

In [697]:
# type(mds_updrs_part_three['INFODT'])

In [698]:
# # Group by 'PATNO' and 'INFODT', and take the maximum value for other columns
# mds_updrs_part_three = mds_updrs_part_three.groupby(['PATNO']).max().reset_index()
# 
# # Optionally reset the index if needed
# mds_updrs_part_three = mds_updrs_part_three.reset_index(drop=True)

In [699]:
mds_updrs_part_three_copy = mds_updrs_part_three.copy()

mds_updrs_part_three_copy

,PATNO,INFODT,EXAMDT,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,NP3RIGLL,...,NP3KTRMR,NP3KTRML,NP3RTARU,NP3RTALU,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,DYSKPRES,NHY
0,3000,02/2011,02/2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,03/2012,03/2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,02/2013,02/2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,03/2014,03/2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,03/2015,03/2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26416,315720,04/2024,04/2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26417,315971,03/2024,03/2024,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
26418,318884,03/2024,03/2024,1.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26419,319738,03/2024,03/2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
26420,320596,03/2024,03/2024,0.0,0.0,1.0,0.0,2.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

In [700]:
mds_updrs_part_three.to_csv('CreatingDataset/FourVisits/mds_updrs_part_three.csv', index=False)

In [701]:
mds_updrs_merged_p1_p1p_p2p_p3 = pd.merge(mds_updrs_part_three, mds_updrs_merged_p1_p1p_p2p, on=['PATNO', 'INFODT'], how='inner')

In [702]:
# Get the list of column names
cols = list(mds_updrs_merged_p1_p1p_p2p_p3.columns)

# Move 'EVENT_ID' in front of 'INFODT'
cols.insert(cols.index('INFODT'), cols.pop(cols.index('EVENT_ID')))

# Reindex the DataFrame with the new column order
mds_updrs_merged_p1_p1p_p2p_p3 = mds_updrs_merged_p1_p1p_p2p_p3[cols]

In [703]:
mds_updrs_merged_p1_p1p_p2p_p3.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p_p3.csv', index=False)

In [704]:
mds_updrs_merged_p1_p1p_p2p_p3['PATNO'].nunique()

1226

In [705]:
mds_updrs_merged_p1_p1p_p2p_p3

,PATNO,EVENT_ID,INFODT,EXAMDT,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,...,NP1CNST,NP1LTHD,NP1FATG,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3001,SC,02/2011,02/2011,1.0,2.0,1.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,1.0,0.0,0.0,1.0
1,3001,BL,03/2011,03/2011,1.0,1.0,0.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
2,3001,V01,05/2011,05/2011,1.0,1.0,0.0,2.0,1.0,1.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
3,3001,V02,08/2011,08/2011,1.0,1.0,0.0,2.0,1.0,1.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
4,3001,V03,11/2011,11/2011,0.0,2.0,0.0,2.0,1.0,0.0,...,0.0,0.0,1.0,0,0,1,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17832,252147,BL,08/2023,08/2023,2.0,2.0,2.0,3.0,3.0,2.0,...,1.0,2.0,1.0,0,0,1,1.0,1.0,0.0,1.0
17833,253175,BL,09/2023,09/2023,1.0,2.0,2.0,2.0,2.0,1.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,1.0
17834,253175,V02,02/2024,02/2024,1.0,2.0,2.0,2.0,2.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
17835,253290,BL,10/2023,10/2023,0.0,1.0,1.0,2.0,2.0,1.0,...,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,1.0
17836,292880,BL,10/2023,10/2023,1.0,2.0,2.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,1.0

In [706]:
# for col in mds_updrs_merged_p1_p1p_p2p_p3.columns:
#     print(f'{col} : {mds_updrs_merged_p1_p1p_p2p_p3[col].dtype}')

## Motor Data No Duplicate

In [707]:
# Load the DataFrame
mds_updrs_merged_p1_p1p_p2p_p3 = pd.read_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p_p3.csv')

# Convert 'INFODT' to datetime format
mds_updrs_merged_p1_p1p_p2p_p3['INFODT'] = pd.to_datetime(mds_updrs_merged_p1_p1p_p2p_p3['INFODT'], format='%m/%Y')

# Identify numeric columns
numeric_cols = mds_updrs_merged_p1_p1p_p2p_p3.select_dtypes(include=[np.number]).columns.tolist()

# Drop 'PATNO' and 'INFODT' from numeric_cols
numeric_cols = [col for col in numeric_cols if col not in ['PATNO', 'INFODT', 'EVENT_ID']]

# Group by 'PATNO' and 'INFODT', and take the maximum value for numeric columns
mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate = mds_updrs_merged_p1_p1p_p2p_p3.groupby(['PATNO', 'INFODT', 'EVENT_ID'])[numeric_cols].max().reset_index()

# Convert 'INFODT' back to 'MM/YYYY' format
mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate['INFODT'] = mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate['INFODT'].dt.strftime('%m/%Y')

# Save the result to a CSV file
mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate.csv', index=False)

In [708]:
mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate

,PATNO,INFODT,EVENT_ID,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,NP3RIGLL,...,NP1CNST,NP1LTHD,NP1FATG,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3001,02/2011,SC,1.0,2.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,1.0,0.0,0.0,1.0
1,3001,03/2011,BL,1.0,1.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
2,3001,05/2011,V01,1.0,1.0,0.0,2.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
3,3001,08/2011,V02,1.0,1.0,0.0,2.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
4,3001,11/2011,V03,0.0,2.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0,0,1,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11334,252147,08/2023,BL,2.0,2.0,2.0,3.0,3.0,2.0,2.0,...,1.0,2.0,1.0,0,0,1,1.0,1.0,0.0,1.0
11335,253175,09/2023,BL,1.0,2.0,2.0,2.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0,0,0,0.0,0.0,0.0,1.0
11336,253175,02/2024,V02,1.0,2.0,2.0,2.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
11337,253290,10/2023,BL,0.0,1.0,1.0,2.0,2.0,1.0,2.0,...,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,1.0
11338,292880,10/2023,BL,1.0,2.0,2.0,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0,0,1,0.0,0.0,0.0,1.0

## Extra

In [709]:
# Load the 'MDS-UPDRS_Part_III_04Apr2024.csv' file into a DataFrame
mds_updrs_part_three = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_III_04Apr2024.csv")

# Convert 'INFODT' to datetime format in both DataFrames
mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate['INFODT'] = pd.to_datetime(mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate['INFODT'], format='%m/%Y')
mds_updrs_part_three['INFODT'] = pd.to_datetime(mds_updrs_part_three['INFODT'], format='%m/%Y')

# Create a new DataFrame by merging 'mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate' and 'mds_updrs_part_three' on 'PATNO' and 'INFODT'
merged_df = pd.merge(mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate, mds_updrs_part_three, on=['PATNO', 'INFODT'], how='inner')

# Check if the number of rows in the merged DataFrame is equal to the number of rows in 'mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate'
if len(merged_df) == len(mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate):
    print("All 'PATNO' with their 'INFODT' in 'mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate' matches with the 'PATNO' and 'INFODT' in 'MDS-UPDRS_Part_III_04Apr2024.csv'")
    print(merged_df.shape)
    print(mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate.shape)
else:
    print("Not all 'PATNO' with their 'INFODT' in 'mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate' matches with the 'PATNO' and 'INFODT' in 'MDS-UPDRS_Part_III_04Apr2024.csv'")
    print(merged_df.shape)
    print(mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate.shape)

Not all 'PATNO' with their 'INFODT' in 'mds_updrs_merged_p1_p1p_p2p_p3_no_duplicate' matches with the 'PATNO' and 'INFODT' in 'MDS-UPDRS_Part_III_04Apr2024.csv'
(15706, 125)
(11339, 65)

In [710]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p_p3.csv")

# Create a boolean mask for duplicates in 'PATNO' and 'INFODT' columns
duplicates_mask = df.duplicated(subset=['PATNO', 'INFODT'])

# Count the number of duplicates
num_duplicates = duplicates_mask.sum()

print(f"Number of duplicate rows in PATNO and INFODT columns: {num_duplicates}")

Number of duplicate rows in PATNO and INFODT columns: 6664

# Merge with Feature Extracted Image Data Automated (TEST)

In [711]:
# four_visit_feature_37_39 = pd.read_csv('CreatingDataset/sorted_dataset_from_mahbub/four_visit_feature_37-39.csv')
# mds_updrs_merged_p1_p1p_p2p_p3 = pd.read_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p_p3.csv')
# 
# four_visit_feature_37_39

In [712]:
# img_tabular_master_data = pd.merge(four_visit_feature_37_39, mds_updrs_merged_p1_p1p_p2p_p3, on=['PATNO', 'INFODT'], how='inner')