In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
participant_status = pd.read_csv("NecessaryCSVFiles/Participant_Status_03Apr2024.csv")

## CONCOHORT codes and their definitons
0 = "non-PD, non-Prodromal, non-HC (participants to be excluded)",
1 = Parkinson's Disease,
2 = Healthy Control,
3 = SWEDD,
4 = Prodromal

In [3]:
# participant_status

In [4]:
# mds_updrs_part_one

In [5]:
# mds_updrs_part_one_patient_ques

In [6]:
# mds_updrs_part_two_patient_ques

In [7]:
# mds_updrs_part_three

In [8]:
# mds_updrs_part_four

In [9]:
participant_status = participant_status.dropna(subset='CONCOHORT_DEFINITION', how='any')
participant_status_patno_concohort = participant_status[['PATNO', 'CONCOHORT']].copy()

participant_status_patno_concohort["CONCOHORT"].value_counts()

CONCOHORT
4.0    1233
1.0    1227
2.0     249
0.0      10
3.0       3
Name: count, dtype: int64

### MDS-UPDRS_Part_I_04Apr2024

In [10]:
mds_updrs_part_one = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_I_04Apr2024.csv")

In [11]:
# Drop the following columns
mds_updrs_part_one = mds_updrs_part_one.drop(['REC_ID', 'PAG_NAME', 'INFODT', 'NUPSOURC', 'NP1RTOT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

mds_updrs_part_one = mds_updrs_part_one.dropna()

In [12]:
# Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
mds_updrs_part_one = mds_updrs_part_one.loc[mds_updrs_part_one['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]

mds_updrs_part_one = mds_updrs_part_one.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [13]:
mds_updrs_part_one_copy = mds_updrs_part_one.copy()

# mds_updrs_part_one_copy

In [14]:
# # Create a boolean mask for duplicates
# duplicates_mask = mds_updrs_part_one.duplicated()
# 
# # Print the duplicate rows
# print(mds_updrs_part_one[duplicates_mask])

In [15]:
mds_updrs_part_one = pd.merge(mds_updrs_part_one, participant_status_patno_concohort, on='PATNO', how='inner')

In [16]:
mds_updrs_part_one

,PATNO,EVENT_ID,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3000,BL,1,0,1,1.0,0.0,0.0,2.0
1,3000,V04,0,0,1,0.0,0.0,0.0,2.0
2,3000,V06,1,0,1,1.0,0.0,0.0,2.0
3,3000,V08,1,0,0,2.0,0.0,0.0,2.0
4,3001,BL,0,0,0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
3763,100898,V08,0,0,0,0.0,0.0,0.0,1.0
3764,101092,BL,0,0,0,0.0,0.0,0.0,1.0
3765,101092,V04,0,0,0,0.0,0.0,0.0,1.0
3766,101092,V06,0,0,0,0.0,0.0,0.0,1.0
3767,101092,V08,0,0,0,0.0,0.0,0.0,1.0

In [17]:
# print(f"Found {mds_updrs_part_one['CONCOHORT'].nunique()} unique concohort values")
# print(f"Found {mds_updrs_part_one['EVENT_ID'].nunique()} unique event_id values")
# print(f"Found {mds_updrs_part_one['PATNO'].nunique()} unique patient values")

In [18]:
mds_updrs_part_one = mds_updrs_part_one[mds_updrs_part_one['CONCOHORT'] == 1].copy()

for feature in mds_updrs_part_one.columns:
    print("Feature:", feature)
    print(mds_updrs_part_one[feature].value_counts())
    print("\n")

Feature: PATNO
PATNO
3001      4
40691     4
40607     4
40603     4
40599     4
         ..
3552      4
3542      4
3532      4
3530      4
101092    4
Name: count, Length: 463, dtype: int64


Feature: EVENT_ID
EVENT_ID
BL     463
V04    463
V06    463
V08    463
Name: count, dtype: int64


Feature: NP1COG
NP1COG
0    1209
1     532
2      87
3      22
4       2
Name: count, dtype: int64


Feature: NP1HALL
NP1HALL
0    1692
1     131
2      25
3       3
4       1
Name: count, dtype: int64


Feature: NP1DPRS
NP1DPRS
0    1278
1     414
2     121
3      34
4       5
Name: count, dtype: int64


Feature: NP1ANXS
NP1ANXS
0.0    1175
1.0     508
2.0     125
3.0      41
4.0       3
Name: count, dtype: int64


Feature: NP1APAT
NP1APAT
0.0    1429
1.0     291
2.0     106
3.0      22
4.0       4
Name: count, dtype: int64


Feature: NP1DDS
NP1DDS
0.0    1750
1.0      80
2.0      21
3.0       1
Name: count, dtype: int64


Feature: CONCOHORT
CONCOHORT
1.0    1852
Name: count, dtype: int64

In [19]:
mds_updrs_part_one.to_csv('CreatingDataset/FourVisits/mds_updrs_part_one.csv', index=False)

### MDS-UPDRS_Part_I_Patient_Questionnaire_04Apr2024

In [20]:
mds_updrs_part_one_patient_ques = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_I_Patient_Questionnaire_04Apr2024.csv")

In [21]:
mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.drop(['REC_ID', 'PAG_NAME', 'INFODT', 'NUPSOURC', 'NP1PTOT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

In [22]:
# Define the columns for which fill will be mode
columns_to_fill = ['NP1SLPN', 'NP1SLPD', 'NP1PAIN', 'NP1URIN', 'NP1CNST', 'NP1LTHD', 'NP1FATG']

# Fill missing values with mode for specified columns
for col in columns_to_fill:
    mode_value = mds_updrs_part_one_patient_ques[col].mode()[0]
    mds_updrs_part_one_patient_ques[col] = mds_updrs_part_one_patient_ques[col].fillna(mode_value)

In [23]:
mds_updrs_part_one_patient_ques

,PATNO,EVENT_ID,NP1SLPN,NP1SLPD,NP1PAIN,NP1URIN,NP1CNST,NP1LTHD,NP1FATG
0,3000,BL,1.0,2.0,0.0,0.0,0.0,0.0,0.0
1,3000,V04,0.0,2.0,0.0,1.0,0.0,0.0,1.0
2,3000,V06,2.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3000,V08,3.0,2.0,0.0,1.0,0.0,0.0,0.0
4,3000,V10,1.0,1.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
22678,315970,BL,3.0,2.0,1.0,1.0,1.0,0.0,1.0
22679,315971,BL,3.0,1.0,1.0,1.0,2.0,1.0,2.0
22680,318884,BL,1.0,1.0,1.0,0.0,1.0,0.0,2.0
22681,319738,BL,2.0,1.0,1.0,0.0,0.0,0.0,1.0
22682,320596,BL,1.0,0.0,3.0,1.0,1.0,0.0,0.0

In [24]:
# Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.loc[mds_updrs_part_one_patient_ques['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]

mds_updrs_part_one_patient_ques = mds_updrs_part_one_patient_ques.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [25]:
mds_updrs_part_one_patient_ques.to_csv('CreatingDataset/FourVisits/mds_updrs_part_one_patient_ques.csv', index=False)

In [26]:
mds_updrs_part_one_patient_ques_copy = mds_updrs_part_one_patient_ques.copy()

mds_updrs_part_one_patient_ques_copy

,PATNO,EVENT_ID,NP1SLPN,NP1SLPD,NP1PAIN,NP1URIN,NP1CNST,NP1LTHD,NP1FATG
0,3000,BL,1.0,2.0,0.0,0.0,0.0,0.0,0.0
1,3000,V04,0.0,2.0,0.0,1.0,0.0,0.0,1.0
2,3000,V06,2.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3000,V08,3.0,2.0,0.0,1.0,0.0,0.0,0.0
8,3001,BL,1.0,2.0,0.0,4.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
18328,100891,V08,3.0,1.0,2.0,2.0,0.0,1.0,0.0
18428,101092,BL,2.0,0.0,2.0,2.0,0.0,0.0,1.0
18431,101092,V04,1.0,0.0,2.0,2.0,0.0,0.0,1.0
18433,101092,V06,2.0,0.0,1.0,2.0,0.0,0.0,1.0
18434,101092,V08,2.0,0.0,1.0,2.0,1.0,0.0,1.0

In [28]:
mds_updrs_part_one_updated = pd.read_csv('CreatingDataset/FourVisits/mds_updrs_part_one.csv')

In [29]:
mds_updrs_merged_p1_p1p = pd.merge(mds_updrs_part_one_patient_ques, mds_updrs_part_one_updated, on=['PATNO', 'EVENT_ID'], how='inner')

mds_updrs_merged_p1_p1p.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p.csv', index=False)

In [30]:
mds_updrs_merged_p1_p1p

,PATNO,EVENT_ID,NP1SLPN,NP1SLPD,NP1PAIN,NP1URIN,NP1CNST,NP1LTHD,NP1FATG,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3001,BL,1.0,2.0,0.0,4.0,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1,3001,V04,0.0,2.0,0.0,4.0,0.0,0.0,2.0,1,0,1,1.0,1.0,0.0,1.0
2,3001,V06,1.0,2.0,1.0,4.0,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
3,3001,V08,0.0,2.0,1.0,4.0,1.0,1.0,1.0,0,0,0,1.0,0.0,0.0,1.0
4,3002,BL,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1,0,1,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,100891,V08,3.0,1.0,2.0,2.0,0.0,1.0,0.0,1,0,0,1.0,1.0,0.0,1.0
1840,101092,BL,2.0,0.0,2.0,2.0,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1841,101092,V04,1.0,0.0,2.0,2.0,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1842,101092,V06,2.0,0.0,1.0,2.0,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1843,101092,V08,2.0,0.0,1.0,2.0,1.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0

### MDS_UPDRS_Part_II__Patient_Questionnaire_04Apr2024

In [31]:
mds_updrs_part_two_patient_ques = pd.read_csv("NecessaryCSVFiles/MDS_UPDRS_Part_II__Patient_Questionnaire_04Apr2024.csv")

mds_updrs_part_two_patient_ques

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,NUPSOURC,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,...,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ,NP2PTOT,ORIG_ENTRY,LAST_UPDATE
0,272451701,3000,BL,NUPDRS2P,02/2011,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02/2011,2020-06-25 16:02:19.0
1,338702901,3000,V04,NUPDRS2P,03/2012,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03/2012,2020-06-25 16:02:22.0
2,385009601,3000,V06,NUPDRS2P,02/2013,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02/2013,2020-06-25 16:02:22.0
3,437131001,3000,V08,NUPDRS2P,03/2014,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,05/2014,2020-06-25 16:02:22.0
4,512467901,3000,V10,NUPDRS2P,03/2015,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03/2015,2020-06-25 16:02:23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22679,IA446548,315970,BL,NUPDRS1P2P,03/2024,1,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,4.0,03/2024,2024-03-18 00:00:00.0
22680,IA450007,315971,BL,NUPDRS1P2P,03/2024,1,1.0,0.0,0.0,0.0,...,2.0,1.0,0.0,1.0,1.0,1.0,0.0,8.0,03/2024,2024-03-21 00:00:00.0
22681,IA448193,318884,BL,NUPDRS1P2P,03/2024,1,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,03/2024,2024-03-20 00:00:00.0
22682,IA455528,319738,BL,NUPDRS1P2P,03/2024,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,03/2024,2024-03-28 00:00:00.0
22683,IA446428,320596,BL,NUPDRS1P2P,03/2024,1,0.0,2.0,0.0,0.0,...,0.0,2.0,0.0,1.0,1.0,1.0,0.0,7.0,03/2024,2024-03-18 00:00:00.0

In [32]:
mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.drop(['REC_ID', 'PAG_NAME', 'INFODT', 'NUPSOURC', 'NP2PTOT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

In [33]:
# Define the columns for which fill will be mode
columns_to_fill = ['NP2SPCH', 'NP2SALV', 'NP2SWAL', 'NP2EAT', 'NP2DRES', 'NP2HYGN', 'NP2HWRT', 'NP2HOBB', 'NP2TURN', 'NP2TRMR', 'NP2RISE', 'NP2WALK', 'NP2FREZ']

# Fill missing values with mode for specified columns
for col in columns_to_fill:
    mode_value = mds_updrs_part_two_patient_ques[col].mode()[0]
    mds_updrs_part_two_patient_ques[col] = mds_updrs_part_two_patient_ques[col].fillna(mode_value)

In [34]:
mds_updrs_part_two_patient_ques

,PATNO,EVENT_ID,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ
0,3000,BL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,V04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,V06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,V08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,V10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22679,315970,BL,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
22680,315971,BL,1.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,0.0
22681,318884,BL,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
22682,319738,BL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
22683,320596,BL,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0

In [35]:
# Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.loc[mds_updrs_part_two_patient_ques['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]

mds_updrs_part_two_patient_ques = mds_updrs_part_two_patient_ques.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [36]:
mds_updrs_part_two_patient_ques_copy = mds_updrs_part_two_patient_ques.copy()

mds_updrs_part_two_patient_ques_copy

,PATNO,EVENT_ID,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,NP2TURN,NP2TRMR,NP2RISE,NP2WALK,NP2FREZ
0,3000,BL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,V04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,V06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,V08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,3001,BL,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18329,100891,V08,2.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0
18429,101092,BL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
18432,101092,V04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
18434,101092,V06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0
18435,101092,V08,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0

In [37]:
mds_updrs_part_two_patient_ques.to_csv('CreatingDataset/FourVisits/mds_updrs_part_two_patient_ques.csv', index=False)

In [38]:
mds_updrs_merged_p1_p1p_p2p = pd.merge(mds_updrs_part_two_patient_ques, mds_updrs_merged_p1_p1p, on=['PATNO', 'EVENT_ID'], how='inner')

mds_updrs_merged_p1_p1p_p2p.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p.csv', index=False)

In [39]:
mds_updrs_merged_p1_p1p_p2p

,PATNO,EVENT_ID,NP2SPCH,NP2SALV,NP2SWAL,NP2EAT,NP2DRES,NP2HYGN,NP2HWRT,NP2HOBB,...,NP1CNST,NP1LTHD,NP1FATG,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3001,BL,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1,3001,V04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2.0,1,0,1,1.0,1.0,0.0,1.0
2,3001,V06,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
3,3001,V08,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,1.0,1.0,1.0,0,0,0,1.0,0.0,0.0,1.0
4,3002,BL,1.0,2.0,1.0,0.0,0.0,1.0,4.0,1.0,...,1.0,0.0,1.0,1,0,1,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,100891,V08,2.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,...,0.0,1.0,0.0,1,0,0,1.0,1.0,0.0,1.0
1840,101092,BL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1841,101092,V04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1842,101092,V06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1843,101092,V08,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,1.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0

### MDS-UPDRS_Part_III_04Apr2024

In [40]:
mds_updrs_part_three = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_III_04Apr2024.csv")

mds_updrs_part_three

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,PDTRTMNT,PDSTATE,HRPOSTMED,HRDBSON,HRDBSOFF,...,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,NP3TOT,DYSKPRES,DYSKIRAT,NHY,ORIG_ENTRY,LAST_UPDATE
0,272451901,3000,BL,NUPDRS3,02/2011,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,4.0,0.0,NaN,0.0,02/2011,2020-06-25 16:02:19.0
1,338703101,3000,V04,NUPDRS3,03/2012,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,03/2012,2020-06-25 16:02:22.0
2,385009801,3000,V06,NUPDRS3,02/2013,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,4.0,0.0,NaN,0.0,02/2013,2020-06-25 16:02:22.0
3,437131401,3000,V08,NUPDRS3,03/2014,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,2.0,0.0,NaN,0.0,05/2014,2020-06-25 16:02:22.0
4,512469901,3000,V10,NUPDRS3,03/2015,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,19.0,0.0,NaN,0.0,03/2015,2020-06-25 16:02:23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26416,IANT457778,315720,BL,NUPDRDOSE3,04/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,8.0,0.0,NaN,0.0,04/2024,2024-04-01 00:00:00.0
26417,IANT449915,315971,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,17.0,0.0,NaN,1.0,03/2024,2024-03-24 00:00:00.0
26418,IANT448235,318884,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,9.0,0.0,NaN,1.0,03/2024,2024-03-20 00:00:00.0
26419,IANT455515,319738,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,6.0,0.0,NaN,1.0,03/2024,2024-03-28 00:00:00.0
26420,IANT446375,320596,BL,NUPDRDOSE3,03/2024,0.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2.0,18.0,0.0,NaN,2.0,03/2024,2024-03-18 00:00:00.0

In [41]:
# Calculate the percentage of missing data in each column
missing_data_percent = mds_updrs_part_three.isnull().mean() * 100

missing_data_percent

REC_ID          0.000000
PATNO           0.000000
EVENT_ID        0.000000
PAG_NAME        0.000000
INFODT          0.000000
                 ...
DYSKPRES        4.076303
DYSKIRAT       79.077249
NHY             4.076303
ORIG_ENTRY      0.000000
LAST_UPDATE     0.000000
Length: 62, dtype: float64

In [42]:
# Calculate the percentage of missing data in each column
missing_data_percent = mds_updrs_part_three.isnull().mean() * 100

# Create a mask for columns that have more than 10% missing data
mask = missing_data_percent > 10

# Drop these columns from the DataFrame
mds_updrs_part_three = mds_updrs_part_three.loc[:, ~mask]

mds_updrs_part_three

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,PDTRTMNT,DBSYN,EXAMDT,NP3SPCH,NP3FACXP,...,NP3RTARU,NP3RTALU,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,DYSKPRES,NHY,ORIG_ENTRY,LAST_UPDATE
0,272451901,3000,BL,NUPDRS3,02/2011,NaN,0.0,02/2011,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02/2011,2020-06-25 16:02:19.0
1,338703101,3000,V04,NUPDRS3,03/2012,NaN,0.0,03/2012,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03/2012,2020-06-25 16:02:22.0
2,385009801,3000,V06,NUPDRS3,02/2013,NaN,0.0,02/2013,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02/2013,2020-06-25 16:02:22.0
3,437131401,3000,V08,NUPDRS3,03/2014,NaN,0.0,03/2014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,05/2014,2020-06-25 16:02:22.0
4,512469901,3000,V10,NUPDRS3,03/2015,NaN,0.0,03/2015,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,03/2015,2020-06-25 16:02:23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26416,IANT457778,315720,BL,NUPDRDOSE3,04/2024,0.0,0.0,04/2024,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,04/2024,2024-04-01 00:00:00.0
26417,IANT449915,315971,BL,NUPDRDOSE3,03/2024,0.0,0.0,03/2024,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,03/2024,2024-03-24 00:00:00.0
26418,IANT448235,318884,BL,NUPDRDOSE3,03/2024,0.0,0.0,03/2024,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,03/2024,2024-03-20 00:00:00.0
26419,IANT455515,319738,BL,NUPDRDOSE3,03/2024,0.0,0.0,03/2024,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,03/2024,2024-03-28 00:00:00.0
26420,IANT446375,320596,BL,NUPDRDOSE3,03/2024,0.0,0.0,03/2024,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0,03/2024,2024-03-18 00:00:00.0

In [43]:
mds_updrs_part_three = mds_updrs_part_three.drop(['REC_ID', 'PAG_NAME', 'INFODT','PDTRTMNT', 'DBSYN', 'EXAMDT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

In [45]:
# mds_updrs_part_three.columns

In [46]:
# Define the columns for which fill will be mode
columns_to_fill = ['NP3SPCH', 'NP3FACXP', 'NP3RIGN', 'NP3RIGRU', 'NP3RIGLU', 'NP3RIGRL', 'NP3RIGLL', 'NP3FTAPR', 'NP3FTAPL', 'NP3HMOVR', 'NP3HMOVL', 'NP3PRSPR', 'NP3PRSPL', 'NP3TTAPR', 'NP3TTAPL', 'NP3LGAGR', 'NP3LGAGL', 'NP3RISNG', 'NP3GAIT', 'NP3FRZGT', 'NP3PSTBL', 'NP3POSTR', 'NP3BRADY', 'NP3PTRMR', 'NP3PTRML', 'NP3KTRMR', 'NP3KTRML', 'NP3RTARU', 'NP3RTALU', 'NP3RTARL', 'NP3RTALL', 'NP3RTALJ', 'NP3RTCON', 'DYSKPRES', 'NHY']

# Fill missing values and values equal to 101 with mode for specified columns
for col in columns_to_fill:
    mode_value = mds_updrs_part_three[col].mode()[0]
    mds_updrs_part_three[col] = mds_updrs_part_three[col].replace(101, np.nan)  # Replace 101 with NaN
    mds_updrs_part_three[col] = mds_updrs_part_three[col].fillna(mode_value)  # Fill NaN with mode

In [48]:
mds_updrs_part_three

,PATNO,EVENT_ID,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,NP3RIGLL,NP3FTAPR,...,NP3KTRMR,NP3KTRML,NP3RTARU,NP3RTALU,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,DYSKPRES,NHY
0,3000,BL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,V04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,V06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,V08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000,V10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26416,315720,BL,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26417,315971,BL,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0
26418,318884,BL,1.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26419,319738,BL,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
26420,320596,BL,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0

In [49]:
# Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
mds_updrs_part_three = mds_updrs_part_three.loc[mds_updrs_part_three['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]

mds_updrs_part_three = mds_updrs_part_three.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [50]:
mds_updrs_part_three = mds_updrs_part_three.groupby(['PATNO', 'EVENT_ID']).max().reset_index()

In [51]:
mds_updrs_part_three_copy = mds_updrs_part_three.copy()

mds_updrs_part_three_copy

,PATNO,EVENT_ID,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,NP3RIGLL,NP3FTAPR,...,NP3KTRMR,NP3KTRML,NP3RTARU,NP3RTALU,NP3RTARL,NP3RTALL,NP3RTALJ,NP3RTCON,DYSKPRES,NHY
0,3000,BL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3000,V04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3000,V06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3000,V08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3001,BL,1.0,1.0,0.0,2.0,0.0,0.0,0.0,2.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3735,100898,V08,2.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0
3736,101092,BL,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3737,101092,V04,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0
3738,101092,V06,0.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0
3739,101092,V08,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0

In [52]:
mds_updrs_part_three.to_csv('CreatingDataset/FourVisits/mds_updrs_part_three.csv', index=False)

In [53]:
mds_updrs_merged_p1_p1p_p2p_p3 = pd.merge(mds_updrs_part_three, mds_updrs_merged_p1_p1p_p2p, on=['PATNO', 'EVENT_ID'], how='inner')

mds_updrs_merged_p1_p1p_p2p_p3.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p_p3.csv', index=False)

In [54]:
mds_updrs_merged_p1_p1p_p2p_p3

,PATNO,EVENT_ID,NP3SPCH,NP3FACXP,NP3RIGN,NP3RIGRU,NP3RIGLU,NP3RIGRL,NP3RIGLL,NP3FTAPR,...,NP1CNST,NP1LTHD,NP1FATG,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,3001,BL,1.0,1.0,0.0,2.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1,3001,V04,1.0,1.0,0.0,2.0,1.0,0.0,0.0,1.0,...,0.0,0.0,2.0,1,0,1,1.0,1.0,0.0,1.0
2,3001,V06,2.0,2.0,1.0,3.0,2.0,2.0,2.0,1.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
3,3001,V08,2.0,2.0,1.0,3.0,2.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0,0,0,1.0,0.0,0.0,1.0
4,3002,BL,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,1,0,1,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835,100891,V08,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,...,0.0,1.0,0.0,1,0,0,1.0,1.0,0.0,1.0
1836,101092,BL,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1837,101092,V04,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1838,101092,V06,0.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
1839,101092,V08,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0

### MDS-UPDRS_Part_IV__Motor_Complications_04Apr2024

In [65]:
mds_updrs_part_four = pd.read_csv("NecessaryCSVFiles/MDS-UPDRS_Part_IV__Motor_Complications_04Apr2024.csv")

mds_updrs_part_four

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,NP4WDYSK,NP4WDYSKDEN,NP4WDYSKNUM,NP4WDYSKPCT,NP4DYSKI,...,NP4OFFPCT,NP4FLCTI,NP4FLCTX,NP4DYSTN,NP4DYSTNDEN,NP4DYSTNNUM,NP4DYSTNPCT,NP4TOT,ORIG_ENTRY,LAST_UPDATE
0,IA156300,3001,R17,NUPDRS4,11/2021,1,4.0,16.0,25.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,12/2021,2022-11-07 00:00:00.0
1,IA156303,3001,R18,NUPDRS4,09/2022,2,4.0,12.0,33.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3.0,09/2022,2022-11-07 00:00:00.0
2,473773301,3001,V09,NUPDRS4,11/2014,0,NaN,NaN,NaN,0,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,11/2014,2020-06-25 16:04:34.0
3,516499401,3001,V10,NUPDRS4,04/2015,0,NaN,NaN,NaN,0,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,04/2015,2020-06-25 16:04:35.0
4,588306101,3001,V12,NUPDRS4,06/2016,0,NaN,NaN,NaN,0,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,09/2016,2020-06-25 16:04:35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8307,IA452285,235810,V02,NUPDRS4,03/2024,0,0.0,17.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,03/2024,2024-03-26 00:00:00.0
8308,IA412643,237943,V02,NUPDRS4,01/2024,0,0.0,16.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,01/2024,2024-01-31 00:00:00.0
8309,IA416753,238701,V02,NUPDRS4,02/2024,0,0.0,18.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,02/2024,2024-02-07 00:00:00.0
8310,IA451814,243029,V02,NUPDRS4,03/2024,0,0.0,17.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,03/2024,2024-03-26 00:00:00.0
8311,IA424932,244043,V02,NUPDRS4,02/2024,0,0.0,16.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,02/2024,2024-02-20 00:00:00.0

In [66]:
# Calculate the percentage of missing data in each column
missing_data_percent = mds_updrs_part_four.isnull().mean() * 100

# Create a mask for columns that have more than 10% missing data
mask = missing_data_percent > 5

# Drop these columns from the DataFrame
mds_updrs_part_four = mds_updrs_part_four.loc[:, ~mask]

mds_updrs_part_four

,REC_ID,PATNO,EVENT_ID,PAG_NAME,INFODT,NP4WDYSK,NP4DYSKI,NP4OFF,NP4FLCTI,NP4FLCTX,NP4DYSTN,NP4TOT,ORIG_ENTRY,LAST_UPDATE
0,IA156300,3001,R17,NUPDRS4,11/2021,1,0,0.0,0.0,0.0,0.0,1.0,12/2021,2022-11-07 00:00:00.0
1,IA156303,3001,R18,NUPDRS4,09/2022,2,1,0.0,0.0,0.0,0.0,3.0,09/2022,2022-11-07 00:00:00.0
2,473773301,3001,V09,NUPDRS4,11/2014,0,0,0.0,0.0,0.0,0.0,0.0,11/2014,2020-06-25 16:04:34.0
3,516499401,3001,V10,NUPDRS4,04/2015,0,0,0.0,0.0,0.0,0.0,0.0,04/2015,2020-06-25 16:04:35.0
4,588306101,3001,V12,NUPDRS4,06/2016,0,0,0.0,0.0,0.0,0.0,0.0,09/2016,2020-06-25 16:04:35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8307,IA452285,235810,V02,NUPDRS4,03/2024,0,0,0.0,0.0,0.0,0.0,0.0,03/2024,2024-03-26 00:00:00.0
8308,IA412643,237943,V02,NUPDRS4,01/2024,0,0,0.0,0.0,0.0,0.0,0.0,01/2024,2024-01-31 00:00:00.0
8309,IA416753,238701,V02,NUPDRS4,02/2024,0,0,0.0,0.0,0.0,0.0,0.0,02/2024,2024-02-07 00:00:00.0
8310,IA451814,243029,V02,NUPDRS4,03/2024,0,0,0.0,0.0,0.0,0.0,0.0,03/2024,2024-03-26 00:00:00.0
8311,IA424932,244043,V02,NUPDRS4,02/2024,0,0,0.0,0.0,0.0,0.0,0.0,02/2024,2024-02-20 00:00:00.0

In [67]:
mds_updrs_part_four = mds_updrs_part_four.drop(['REC_ID', 'PAG_NAME', 'INFODT', 'NP4TOT', 'ORIG_ENTRY', 'LAST_UPDATE'], axis=1)

In [68]:
# mds_updrs_part_four.columns

In [69]:
# Define the columns for which fill will be mode
columns_to_fill = ['NP4WDYSK', 'NP4DYSKI', 'NP4OFF', 'NP4FLCTI', 'NP4FLCTX', 'NP4DYSTN']

# Fill missing values and values equal to 101 with mode for specified columns
for col in columns_to_fill:
    mode_value = mds_updrs_part_four[col].mode()[0]
    mds_updrs_part_four[col] = mds_updrs_part_four[col].replace(101, np.nan)  # Replace 101 with NaN
    mds_updrs_part_four[col] = mds_updrs_part_four[col].fillna(mode_value)  # Fill NaN with mode

In [70]:
# Group by 'PATNO' and filter to keep only those groups where all five event IDs are present
mds_updrs_part_four = mds_updrs_part_four.loc[mds_updrs_part_four['EVENT_ID'].isin(['BL', 'V04', 'V06', 'V08'])]

mds_updrs_part_four = mds_updrs_part_four.groupby('PATNO').filter(lambda x: set(['BL', 'V04', 'V06', 'V08']).issubset(set(x['EVENT_ID'])))

In [71]:
mds_updrs_part_four_copy = mds_updrs_part_four.copy()

mds_updrs_part_four_copy

      PATNO EVENT_ID  NP4WDYSK  NP4DYSKI  NP4OFF  NP4FLCTI  NP4FLCTX  NP4DYSTN
4725  40338       BL       0.0       0.0     1.0       1.0       1.0       2.0
4729  40338      V04       0.0       0.0     1.0       1.0       1.0       1.0
4730  40338      V06       0.0       0.0     1.0       1.0       1.0       1.0
4732  40338      V08       0.0       0.0     1.0       1.0       1.0       1.0
4737  40366       BL       0.0       0.0     0.0       0.0       0.0       0.0
...     ...      ...       ...       ...     ...       ...       ...       ...
7573  75524      V08       0.0       0.0     1.0       0.0       0.0       0.0
7576  75562       BL       1.0       0.0     1.0       1.0       1.0       4.0
7581  75562      V04       1.0       0.0     1.0       1.0       1.0       4.0
7582  75562      V06       1.0       1.0     1.0       1.0       2.0       2.0
7583  75562      V08       1.0       0.0     0.0       0.0       0.0       0.0

[544 rows x 8 columns]

In [72]:
mds_updrs_part_four.to_csv('CreatingDataset/FourVisits/mds_updrs_part_four.csv')

In [74]:
# mds_updrs_merged_p1_p1p_p2p_p3

In [75]:
mds_updrs_merged_p1_p1p_p2p_p3_p4 = pd.merge(mds_updrs_part_four, mds_updrs_merged_p1_p1p_p2p_p3, on=['PATNO', 'EVENT_ID'], how='inner')

mds_updrs_merged_p1_p1p_p2p_p3_p4.to_csv('CreatingDataset/FourVisits/mds_updrs_merged_p1_p1p_p2p_p3_p4.csv', index=False)

In [76]:
mds_updrs_merged_p1_p1p_p2p_p3_p4

,PATNO,EVENT_ID,NP4WDYSK,NP4DYSKI,NP4OFF,NP4FLCTI,NP4FLCTX,NP4DYSTN,NP3SPCH,NP3FACXP,...,NP1CNST,NP1LTHD,NP1FATG,NP1COG,NP1HALL,NP1DPRS,NP1ANXS,NP1APAT,NP1DDS,CONCOHORT
0,40338,BL,0.0,0.0,1.0,1.0,1.0,2.0,0.0,1.0,...,0.0,2.0,2.0,1,2,0,1.0,1.0,0.0,1.0
1,40338,V04,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1,1,0,1.0,1.0,0.0,1.0
2,40338,V06,0.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,...,0.0,1.0,2.0,2,0,0,1.0,0.0,0.0,1.0
3,40338,V08,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,1,1,0,1.0,0.0,0.0,1.0
4,40366,BL,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,0.0,1,0,0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,75524,V08,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,2.0,0,0,0,0.0,0.0,0.0,1.0
528,75562,BL,1.0,0.0,1.0,1.0,1.0,4.0,0.0,1.0,...,1.0,2.0,0.0,0,0,0,1.0,0.0,0.0,1.0
529,75562,V04,1.0,0.0,1.0,1.0,1.0,4.0,0.0,0.0,...,1.0,0.0,1.0,0,0,0,0.0,0.0,0.0,1.0
530,75562,V06,1.0,1.0,1.0,1.0,2.0,2.0,0.0,0.0,...,1.0,0.0,0.0,0,0,0,1.0,3.0,0.0,1.0
531,75562,V08,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,1.0,1,0,0,0.0,1.0,0.0,1.0